In [1]:
import pandas as pd
import numpy as np

In [2]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
x_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")

# 데이터 확인
print(x_train.head())
print("---")
print("\n")
print(x_test.head())
print("---")
print("\n")
print(y_train.head())

   StudentID school sex  age address famsize Pstatus  Medu  Fedu      Mjob  \
0       1714     GP   F   18       U     GT3       T     4     3     other
1       1254     GP   F   17       U     GT3       T     4     3    health
2       1639     GP   F   16       R     GT3       T     4     4    health
3       1118     GP   M   16       U     GT3       T     4     4  services
4       1499     GP   M   19       U     GT3       T     3     2  services

   ... romantic famrel freetime  goout  Dalc  Walc health absences  G1  G2
0  ...       no      4        3      3     1     1      3        0  14  13
1  ...      yes      4        4      3     1     3      4        0  13  15
2  ...       no      2        4      4     2     3      4        6  10  11
3  ...       no      5        3      3     1     3      5        0  15  13
4  ...      yes      4        5      4     1     1      4        0   5   0

[5 rows x 33 columns]
---


   StudentID school sex  age address famsize Pstatus  Medu  Fedu      Mjob  \
0       1000     GP   F   16       U     GT3       T     4     2  services
1       1008     GP   M   19       U     GT3       T     1     2     other
2       1013     GP   F   16       U     GT3       T     4     4  services
3       1014     GP   F   16       U     GT3       T     3     1  services
4       1017     GP   F   15       U     LE3       A     3     4     other

   ... romantic famrel freetime  goout  Dalc  Walc health absences  G1  G2
0  ...       no      4        2      3     1     1      5        2  15  16
1  ...       no      4        5      2     2     2      4        3  13  11
2  ...       no      3        2      3     1     2      2        6  13  14
3  ...       no      4        3      3     1     2      5        4   7   7
4  ...      yes      5        3      2     1     1      1        0  10  11

[5 rows x 33 columns]
---


   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [3]:
# 데이터 프레임 형태 확인 
print(x_train.info()) # object = ['school', 'sex','address','famsize','Pstatus','Mjob', 'Fjob','reason','guardian','schoolsup','famsup','paid','activities']
print("---")
print("\n")
print(x_test.info())
print("---")
print("\n")
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB
None
---


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   366 non-null    int64
 1   school      366 non-null    object
 2   sex         366 non-null    object
 3   age         366 non-null    int64
 4   address     366 non-null    object
 5   famsize     366 non-null    object
 6   Pstatus     366 non-null    object
 7   Medu        366 non-null    int64
 8   Fedu        366 non-null    int64
 9   Mjob        366 non-null    object
 10  Fjob        366 non-null    object
 11  reason      366 non-null    object
 12  guardian    366 non-null    object
 13  traveltime  366 non-null    int64
 14  studytime   366 non-null    int64
 15  failures    366 non-null    int64
 16  schoolsup   366 non-null    object
 17  famsup      366 non-null    object
 18  paid        366 non-null    object
 19  activities  366 non-null    object
 20  nursery     366 non-null    object
 21  higher      366 non-null    object
 22  internet    366 non-null    object
 23  romantic    366 non-null    object
 24  famrel      366 non-null    int64
 25  freetime    366 non-null    int64
 26  goout       366 non-null    int64
 27  Dalc        366 non-null    int64
 28  Walc        366 non-null    int64
 29  health      366 non-null    int64
 30  absences    366 non-null    int64
 31  G1          366 non-null    int64
 32  G2          366 non-null    int64
dtypes: int64(16), object(17)
memory usage: 94.5+ KB
None
---


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  678 non-null    int64
 1   G3         678 non-null    int64
dtypes: int64(2)
memory usage: 10.7 KB
None

In [4]:
# 기술통계량 확인
print(x_train.describe(include=['int','float','object']))
print("---")
print("\n")
print(x_test.describe(include=['int','float','object']))
print("---")
print("\n")
print(y_train.describe(include=['int','float','object']))

          StudentID school  sex         age address famsize Pstatus  \
count    678.000000    678  678  678.000000     678     678     678
unique          NaN      2    2         NaN       2       2       2
top             NaN     GP    F         NaN       U     GT3       T
freq            NaN    509  394         NaN     499     479     602
mean    1516.181416    NaN  NaN   16.719764     NaN     NaN     NaN
std      303.029891    NaN  NaN    1.239881     NaN     NaN     NaN
min     1001.000000    NaN  NaN   15.000000     NaN     NaN     NaN
25%     1253.250000    NaN  NaN   16.000000     NaN     NaN     NaN
50%     1508.000000    NaN  NaN   17.000000     NaN     NaN     NaN
75%     1780.750000    NaN  NaN   18.000000     NaN     NaN     NaN
max     2043.000000    NaN  NaN   22.000000     NaN     NaN     NaN

              Medu        Fedu   Mjob  ... romantic      famrel    freetime  \
count   678.000000  678.000000    678  ...      678  678.000000  678.000000
unique         NaN         NaN      5  ...        2         NaN         NaN
top            NaN         NaN  other  ...       no         NaN         NaN
freq           NaN         NaN    254  ...      433         NaN         NaN
mean      2.607670    2.371681    NaN  ...      NaN    3.933628    3.233038
std       1.134682    1.096750    NaN  ...      NaN    0.952346    1.042083
min       0.000000    0.000000    NaN  ...      NaN    1.000000    1.000000
25%       2.000000    1.000000    NaN  ...      NaN    4.000000    3.000000
50%       3.000000    2.000000    NaN  ...      NaN    4.000000    3.000000
75%       4.000000    3.000000    NaN  ...      NaN    5.000000    4.000000
max       4.000000    4.000000    NaN  ...      NaN    5.000000    5.000000

             goout        Dalc        Walc      health    absences         G1  \
count   678.000000  678.000000  678.000000  678.000000  678.000000  678.00000
unique         NaN         NaN         NaN         NaN         NaN        NaN
top            NaN         NaN         NaN         NaN         NaN        NaN
freq           NaN         NaN         NaN         NaN         NaN        NaN
mean      3.140118    1.480826    2.293510    3.522124    4.594395   11.20649
std       1.165537    0.895789    1.287705    1.431430    6.527236    2.90395
min       1.000000    1.000000    1.000000    1.000000    0.000000    4.00000
25%       2.000000    1.000000    1.000000    2.000000    0.000000    9.00000
50%       3.000000    1.000000    2.000000    4.000000    2.000000   11.00000
75%       4.000000    2.000000    3.000000    5.000000    6.000000   13.00000
max       5.000000    5.000000    5.000000    5.000000   75.000000   19.00000

                G2
count   678.000000
unique         NaN
top            NaN
freq           NaN
mean     11.182891
std       3.296146
min       0.000000
25%       9.000000
50%      11.000000
75%      13.000000
max      19.000000

[11 rows x 33 columns]
---


          StudentID school  sex         age address famsize Pstatus  \
count    366.000000    366  366  366.000000     366     366     366
unique          NaN      2    2         NaN       2       2       2
top             NaN     GP    F         NaN       U     GT3       T
freq            NaN    263  197         NaN     260     259     321
mean    1531.352459    NaN  NaN   16.737705     NaN     NaN     NaN
std      298.868558    NaN  NaN    1.241762     NaN     NaN     NaN
min     1000.000000    NaN  NaN   15.000000     NaN     NaN     NaN
25%     1279.500000    NaN  NaN   16.000000     NaN     NaN     NaN
50%     1535.500000    NaN  NaN   17.000000     NaN     NaN     NaN
75%     1783.750000    NaN  NaN   18.000000     NaN     NaN     NaN
max     2037.000000    NaN  NaN   22.000000     NaN     NaN     NaN

              Medu        Fedu   Mjob  ... romantic      famrel    freetime  \
count   366.000000  366.000000    366  ...      366  366.000000  366.000000
unique         NaN         NaN      5  ...        2         NaN         NaN
top            NaN         NaN  other  ...       no         NaN         NaN
freq           NaN         NaN    145  ...      240         NaN         NaN
mean      2.595628    2.418033    NaN  ...      NaN    3.939891    3.142077
std       1.108069    1.106693    NaN  ...      NaN    0.898519    1.010374
min       0.000000    0.000000    NaN  ...      NaN    1.000000    1.000000
25%       2.000000    1.250000    NaN  ...      NaN    4.000000    3.000000
50%       3.000000    2.000000    NaN  ...      NaN    4.000000    3.000000
75%       4.000000    3.000000    NaN  ...      NaN    4.750000    4.000000
max       4.000000    4.000000    NaN  ...      NaN    5.000000    5.000000

             goout        Dalc        Walc      health    absences  \
count   366.000000  366.000000  366.000000  366.000000  366.000000
unique         NaN         NaN         NaN         NaN         NaN
top            NaN         NaN         NaN         NaN         NaN
freq           NaN         NaN         NaN         NaN         NaN
mean      3.185792    1.519126    2.267760    3.581967    4.139344
std       1.129148    0.941241    1.281865    1.413284    5.571427
min       1.000000    1.000000    1.000000    1.000000    0.000000
25%       2.000000    1.000000    1.000000    3.000000    0.000000
50%       3.000000    1.000000    2.000000    4.000000    2.000000
75%       4.000000    2.000000    3.000000    5.000000    6.000000
max       5.000000    5.000000    5.000000    5.000000   40.000000

                G1          G2
count   366.000000  366.000000
unique         NaN         NaN
top            NaN         NaN
freq           NaN         NaN
mean     11.226776   11.363388
std       3.129260    3.265708
min       0.000000    0.000000
25%       9.000000    9.000000
50%      11.000000   11.000000
75%      13.750000   13.000000
max      19.000000   19.000000

[11 rows x 33 columns]
---


         StudentID          G3
count   678.000000  678.000000
mean   1516.181416   11.308260
std     303.029891    3.833417
min    1001.000000    0.000000
25%    1253.250000   10.000000
50%    1508.000000   11.000000
75%    1780.750000   14.000000
max    2043.000000   20.000000

In [5]:
# 결측치 확인
print(x_train.isnull().sum())
print("---")
print("\n")
print(x_test.isnull().sum())
print("---")
print("\n")
print(y_train.isnull().sum())

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64
---


StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64
---


StudentID    0
G3           0
dtype: int64

In [6]:
# 변수처리
StudentID = x_test['StudentID'].copy()

x_train = x_train.drop(columns=['StudentID'])
x_test = x_test.drop(columns=['StudentID'])

# 원핫인코딩
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

print(x_train.info())
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 58 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                678 non-null    int64
 1   Medu               678 non-null    int64
 2   Fedu               678 non-null    int64
 3   traveltime         678 non-null    int64
 4   studytime          678 non-null    int64
 5   failures           678 non-null    int64
 6   famrel             678 non-null    int64
 7   freetime           678 non-null    int64
 8   goout              678 non-null    int64
 9   Dalc               678 non-null    int64
 10  Walc               678 non-null    int64
 11  health             678 non-null    int64
 12  absences           678 non-null    int64
 13  G1                 678 non-null    int64
 14  G2                 678 non-null    int64
 15  school_GP          678 non-null    bool
 16  school_MS          678 non-null    bool
 17  sex_F              678 non-null    bool
 18  sex_M              678 non-null    bool
 19  address_R          678 non-null    bool
 20  address_U          678 non-null    bool
 21  famsize_GT3        678 non-null    bool
 22  famsize_LE3        678 non-null    bool
 23  Pstatus_A          678 non-null    bool
 24  Pstatus_T          678 non-null    bool
 25  Mjob_at_home       678 non-null    bool
 26  Mjob_health        678 non-null    bool
 27  Mjob_other         678 non-null    bool
 28  Mjob_services      678 non-null    bool
 29  Mjob_teacher       678 non-null    bool
 30  Fjob_at_home       678 non-null    bool
 31  Fjob_health        678 non-null    bool
 32  Fjob_other         678 non-null    bool
 33  Fjob_services      678 non-null    bool
 34  Fjob_teacher       678 non-null    bool
 35  reason_course      678 non-null    bool
 36  reason_home        678 non-null    bool
 37  reason_other       678 non-null    bool
 38  reason_reputation  678 non-null    bool
 39  guardian_father    678 non-null    bool
 40  guardian_mother    678 non-null    bool
 41  guardian_other     678 non-null    bool
 42  schoolsup_no       678 non-null    bool
 43  schoolsup_yes      678 non-null    bool
 44  famsup_no          678 non-null    bool
 45  famsup_yes         678 non-null    bool
 46  paid_no            678 non-null    bool
 47  paid_yes           678 non-null    bool
 48  activities_no      678 non-null    bool
 49  activities_yes     678 non-null    bool
 50  nursery_no         678 non-null    bool
 51  nursery_yes        678 non-null    bool
 52  higher_no          678 non-null    bool
 53  higher_yes         678 non-null    bool
 54  internet_no        678 non-null    bool
 55  internet_yes       678 non-null    bool
 56  romantic_no        678 non-null    bool
 57  romantic_yes       678 non-null    bool
dtypes: bool(43), int64(15)
memory usage: 108.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 58 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                366 non-null    int64
 1   Medu               366 non-null    int64
 2   Fedu               366 non-null    int64
 3   traveltime         366 non-null    int64
 4   studytime          366 non-null    int64
 5   failures           366 non-null    int64
 6   famrel             366 non-null    int64
 7   freetime           366 non-null    int64
 8   goout              366 non-null    int64
 9   Dalc               366 non-null    int64
 10  Walc               366 non-null    int64
 11  health             366 non-null    int64
 12  absences           366 non-null    int64
 13  G1                 366 non-null    int64
 14  G2                 366 non-null    int64
 15  school_GP          366 non-null    bool
 16  school_MS          366 non-null    bool
 17  sex_F              366 non-null    bool
 18  sex_M              366 non-null    bool
 19  address_R          366 non-null    bool
 20  address_U          366 non-null    bool
 21  famsize_GT3        366 non-null    bool
 22  famsize_LE3        366 non-null    bool
 23  Pstatus_A          366 non-null    bool
 24  Pstatus_T          366 non-null    bool
 25  Mjob_at_home       366 non-null    bool
 26  Mjob_health        366 non-null    bool
 27  Mjob_other         366 non-null    bool
 28  Mjob_services      366 non-null    bool
 29  Mjob_teacher       366 non-null    bool
 30  Fjob_at_home       366 non-null    bool
 31  Fjob_health        366 non-null    bool
 32  Fjob_other         366 non-null    bool
 33  Fjob_services      366 non-null    bool
 34  Fjob_teacher       366 non-null    bool
 35  reason_course      366 non-null    bool
 36  reason_home        366 non-null    bool
 37  reason_other       366 non-null    bool
 38  reason_reputation  366 non-null    bool
 39  guardian_father    366 non-null    bool
 40  guardian_mother    366 non-null    bool
 41  guardian_other     366 non-null    bool
 42  schoolsup_no       366 non-null    bool
 43  schoolsup_yes      366 non-null    bool
 44  famsup_no          366 non-null    bool
 45  famsup_yes         366 non-null    bool
 46  paid_no            366 non-null    bool
 47  paid_yes           366 non-null    bool
 48  activities_no      366 non-null    bool
 49  activities_yes     366 non-null    bool
 50  nursery_no         366 non-null    bool
 51  nursery_yes        366 non-null    bool
 52  higher_no          366 non-null    bool
 53  higher_yes         366 non-null    bool
 54  internet_no        366 non-null    bool
 55  internet_yes       366 non-null    bool
 56  romantic_no        366 non-null    bool
 57  romantic_yes       366 non-null    bool
dtypes: bool(43), int64(15)
memory usage: 58.4 KB
None

In [9]:
# 검증
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train['G3'],test_size = 0.2, random_state = 2023)

print(x_train.shape)
print("---")
print(x_val.shape)
print("---")
print(y_train.shape)
print("---")
print(y_val.shape)

(542, 58)
---
(136, 58)
---
(542,)
---
(136,)

In [10]:
# 모델 적용 및 평가
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state = 2023)

print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, 150 to 537
Data columns (total 58 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                542 non-null    int64
 1   Medu               542 non-null    int64
 2   Fedu               542 non-null    int64
 3   traveltime         542 non-null    int64
 4   studytime          542 non-null    int64
 5   failures           542 non-null    int64
 6   famrel             542 non-null    int64
 7   freetime           542 non-null    int64
 8   goout              542 non-null    int64
 9   Dalc               542 non-null    int64
 10  Walc               542 non-null    int64
 11  health             542 non-null    int64
 12  absences           542 non-null    int64
 13  G1                 542 non-null    int64
 14  G2                 542 non-null    int64
 15  school_GP          542 non-null    bool
 16  school_MS          542 non-null    bool
 17  sex_F              542 non-null    bool
 18  sex_M              542 non-null    bool
 19  address_R          542 non-null    bool
 20  address_U          542 non-null    bool
 21  famsize_GT3        542 non-null    bool
 22  famsize_LE3        542 non-null    bool
 23  Pstatus_A          542 non-null    bool
 24  Pstatus_T          542 non-null    bool
 25  Mjob_at_home       542 non-null    bool
 26  Mjob_health        542 non-null    bool
 27  Mjob_other         542 non-null    bool
 28  Mjob_services      542 non-null    bool
 29  Mjob_teacher       542 non-null    bool
 30  Fjob_at_home       542 non-null    bool
 31  Fjob_health        542 non-null    bool
 32  Fjob_other         542 non-null    bool
 33  Fjob_services      542 non-null    bool
 34  Fjob_teacher       542 non-null    bool
 35  reason_course      542 non-null    bool
 36  reason_home        542 non-null    bool
 37  reason_other       542 non-null    bool
 38  reason_reputation  542 non-null    bool
 39  guardian_father    542 non-null    bool
 40  guardian_mother    542 non-null    bool
 41  guardian_other     542 non-null    bool
 42  schoolsup_no       542 non-null    bool
 43  schoolsup_yes      542 non-null    bool
 44  famsup_no          542 non-null    bool
 45  famsup_yes         542 non-null    bool
 46  paid_no            542 non-null    bool
 47  paid_yes           542 non-null    bool
 48  activities_no      542 non-null    bool
 49  activities_yes     542 non-null    bool
 50  nursery_no         542 non-null    bool
 51  nursery_yes        542 non-null    bool
 52  higher_no          542 non-null    bool
 53  higher_yes         542 non-null    bool
 54  internet_no        542 non-null    bool
 55  internet_yes       542 non-null    bool
 56  romantic_no        542 non-null    bool
 57  romantic_yes       542 non-null    bool
dtypes: bool(43), int64(15)
memory usage: 90.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 58 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                366 non-null    int64
 1   Medu               366 non-null    int64
 2   Fedu               366 non-null    int64
 3   traveltime         366 non-null    int64
 4   studytime          366 non-null    int64
 5   failures           366 non-null    int64
 6   famrel             366 non-null    int64
 7   freetime           366 non-null    int64
 8   goout              366 non-null    int64
 9   Dalc               366 non-null    int64
 10  Walc               366 non-null    int64
 11  health             366 non-null    int64
 12  absences           366 non-null    int64
 13  G1                 366 non-null    int64
 14  G2                 366 non-null    int64
 15  school_GP          366 non-null    bool
 16  school_MS          366 non-null    bool
 17  sex_F              366 non-null    bool
 18  sex_M              366 non-null    bool
 19  address_R          366 non-null    bool
 20  address_U          366 non-null    bool
 21  famsize_GT3        366 non-null    bool
 22  famsize_LE3        366 non-null    bool
 23  Pstatus_A          366 non-null    bool
 24  Pstatus_T          366 non-null    bool
 25  Mjob_at_home       366 non-null    bool
 26  Mjob_health        366 non-null    bool
 27  Mjob_other         366 non-null    bool
 28  Mjob_services      366 non-null    bool
 29  Mjob_teacher       366 non-null    bool
 30  Fjob_at_home       366 non-null    bool
 31  Fjob_health        366 non-null    bool
 32  Fjob_other         366 non-null    bool
 33  Fjob_services      366 non-null    bool
 34  Fjob_teacher       366 non-null    bool
 35  reason_course      366 non-null    bool
 36  reason_home        366 non-null    bool
 37  reason_other       366 non-null    bool
 38  reason_reputation  366 non-null    bool
 39  guardian_father    366 non-null    bool
 40  guardian_mother    366 non-null    bool
 41  guardian_other     366 non-null    bool
 42  schoolsup_no       366 non-null    bool
 43  schoolsup_yes      366 non-null    bool
 44  famsup_no          366 non-null    bool
 45  famsup_yes         366 non-null    bool
 46  paid_no            366 non-null    bool
 47  paid_yes           366 non-null    bool
 48  activities_no      366 non-null    bool
 49  activities_yes     366 non-null    bool
 50  nursery_no         366 non-null    bool
 51  nursery_yes        366 non-null    bool
 52  higher_no          366 non-null    bool
 53  higher_yes         366 non-null    bool
 54  internet_no        366 non-null    bool
 55  internet_yes       366 non-null    bool
 56  romantic_no        366 non-null    bool
 57  romantic_yes       366 non-null    bool
dtypes: bool(43), int64(15)
memory usage: 58.4 KB
None
<class 'pandas.core.series.Series'>
Index: 542 entries, 150 to 537
Series name: G3
Non-Null Count  Dtype
--------------  -----
542 non-null    int64
dtypes: int64(1)
memory usage: 8.5 KB
None

RandomForestRegressor(random_state=2023)

In [ ]:
# 랜덤 포레스트 모델 사용 (참고 : 분류모델은 RandomForestClassifier)
model.fit(x_train, y_train)

In [11]:
# 모델을 사용하여 테스트 데이터 예측
y_pred = model.predict(x_val)

In [13]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_val, y_pred) #실제값, 예측값
r2 = r2_score(y_val, y_pred) #실제값, 예측값

# MSE
print("MSE")
print(mse)
print("---")
# R2 Score
print("R-Squared")
print(r2)
# RMSE
rmse = mse**0.5
print("---")
print("RMSE")
print(rmse)

MSE
2.787404411764706
---
R-Squared
0.8408613443303042
---
RMSE
1.6695521590428692

In [18]:
# 실기시험 안내사항
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'StudentID' : StudentID, 'G3' : y_result}).to_csv('수험번호.csv', index = False)

# 모델을 사용하여 테스트 예측
y_result = model.predict(x_test)
result = pd.DataFrame({'StudentID' : StudentID, 'G3' : y_result})
print(result.head(10))

   StudentID     G3
0       1000  16.24
1       1008  11.19
2       1013  14.19
3       1014   8.07
4       1017  11.07
5       1018  14.31
6       1021  17.71
7       1024  13.00
8       1025  12.84
9       1031  12.80

In [19]:
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv")
print(y_test.head(10))

   StudentID  G3
0       1000  16
1       1008  11
2       1013  14
3       1014   6
4       1017  11
5       1018  14
6       1021  19
7       1024  13
8       1025  13
9       1031  12